.clues {
  text-align: left;
}

.submit-subpuzzle {
  border: 1px solid #444;
  background-color: #dcd0ff;
  padding: 12px 28px;
  width: 80px;
  border-radius: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  text-align: center;
}

.submit-subpuzzle:hover {
  background-color: #967bb6;
}