.clues {
  text-align: left;
}

.nav-subpuzzle {
  border: 1px solid #444;
  background-color: #dcd0ff;
  padding: 12px 28px;
  width: 200px;
  border-radius: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  text-align: center;
}

.nav-padding {
  padding: 5px; 
}

.trigger-padding{
  padding: 15px;
}

.submit-subpuzzle {
  border: 1px solid #444;
  background-color: #dcd0ff;
  padding: 12px 20px;
  width: 50px;
  border-radius: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  text-align: center;
}


.submit-subpuzzle:hover, .nav-subpuzzle:hover {
  background-color: #c9aeeb;
}

