.center-margin {
  margin: auto;
}

button {
  all: unset;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submit {
  border: 1px solid #444;
  background-color: #83c9ec;
  padding: 12px 28px;
  width: 50px;
  border-radius: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.submit:hover {
  background-color: #35aeeb;
}

.login {
  border: 1px solid #444;
  background-color: #ecc283;
  margin-top: 2%;
  padding: 12px 28px;
  width: 50px;
  border-radius: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.login:hover {
  background-color: #eba535;
}

.meta-grid {
  background-color: #ff9391;
  height: 130px;
  width: 130px;
  border-radius: 10px;
  padding: 15px;
}

.meta-grid:hover {
  background-color: #5bcc97;
}

.meta-selected {
  background-color: #aaffd7;
}


