.center-text {
  text-align: center;
}
.center-margin {
  margin: auto;
}
button {
  all: unset;
}

.submit {
  border: 1px solid #444;
  background-color: #83c9ec;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  font: sans-serif;
}

.submit:hover {
  background-color: #35aeeb;
}

.grid {
  background-color: #ff9391;
  height: 130px;
  width: 130px;
  border-radius: 10px;
  padding: 15px;
}
.grid:hover {
  background-color: #5bcc97;
}

.selected {
  background-color: #aaffd7;
}
