#container { 
  height: 100px; 
  display: table; 
}

#container .guest-box {
  text-align: left;
  vertical-align: middle;
  display: table-cell; 
}

#container .guest-box img {
  text-align: left;
  width: 100px; 
  max-width: 100%;
  max-height: auto;
}

#table-row {
  display: table; 
}  

.emoji-box {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  padding: 7px;
}


.mid-justify {
  vertical-align: middle;
}

.button-box {
  background-color: #ffe986;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  padding: 7px;
}

.button-box:hover {
  background-color: #eed150;
}