#container {
  width: 100px; 
  height: 100px; 
  display: table; 
}

#container .guest-box {
  text-align: center;
  vertical-align: middle;
  display: table-cell; 
}

#container .guest-box img {
  text-align: center;
  max-width: 100%;
  max-height: auto;
}

.emoji-box, .button-box {
  background-color: #ffe986;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  padding: 3px;
}

.button-box:hover {
  background-color: #eed150;
}